
.container
{
    max-width: 100%;
    max-height: 100%
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}
img{
    text-align: center;
    border: 2px solid orange;
    border-radius: 10px;

    width: 64px;
    height: 64px;
}
p{
    height: 20px;
    width: 50px;
    float: right;
}
tr:hover {
    background-color: lightblue;
    pointer-events: unset;
    cursor: pointer ;
}

.main-menu:first-child:hover
{
    background-color: white;

}
